@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body{
  font-family: 'Work Sans', sans-serif;
}
.header_site{
  position: fixed;
  background: white;
  padding-top: 5px;
  max-height: 104px;
  height: 104px;
  width: 100%;
  border-bottom:2px dashed lightgrey;
  z-index: 20;
}
.header_site>h2.text-center{
  margin-top: 0;
  display:inline !important;
}
.header_site>i{
  display: inline !important;
}
.navbar-header>a{
  padding-top: 20px;
}
.glyphicon.btn{
  background: none;
  font-size: 2em;
  color: #D9EBF3;

}
.glyphicon.btn:hover{
  background: none;
  color: orange;

}
#big-grid-text{
  position: absolute;
  height:50px;
  left: 10%;
  width: 450px;
  bottom: 50px;
  background-color: white;
}
#grid1{
  position: relative;
  padding: 16px;
  box-shadow: rgba(0,0,0,.117647) 0 1px 6px,rgba(0,0,0,.117647) 0 1px 4px;
  height: 350px;
  background-image:url("https://fthmb.tqn.com/3-ecGg9dWS5_eIosP1brzCFRGhk=/600x400/filters:no_upscale()/superfood-breakfast-with-porridge--amaranth--various-fruits-and-pistachios-709139775-5a5ca7bc845b3400376104a7-5a734543ff1b7800373ae490.jpg");
  background-size: cover;
}
.rectangle{
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  padding: 7px;
  width: auto;
  height: auto;
  background-color:#D9EBF3;
}
.grid{
  /* padding: 16px; */
  height: 350px;
  /* box-shadow: rgba(0,0,0,.117647) 0 1px 6px,rgba(0,0,0,.117647) 0 1px 4px; */

}
.ingrid{
  height: 200px;
  width: 100% ;

}

#firstbox{
  margin-top: 130px;
  height: 680px;
  width: 100%;
  background: linear-gradient(to bottom,#FFF 3rem,#F1FAFD 3rem);
}


.secondbox{
  padding-top: 10px;
  padding-bottom: 10px;
  height:460px ;
  width:auto;

}
#thirdbox{
  padding: 0 10px 8px 10px;
  height:1000px ;
  width:auto;

}
.blueback{
  height: 55%;
  border: 1px solid;

}
#mailbox{
  /* margin: 8px; */
  margin-top: 8px;
  margin-bottom: 8px;
  height: 121px;
  padding:12px;
  /* border: 1px solid grey; */
  background-color: #F1FAFD;

}
#lastbox{
  padding: 0 10px 32px 10px;
  height: 4575px;
  background: linear-gradient(to bottom,#FFF 3rem,#F1FAFD 3rem) !important;
}
#footer{
  height: 231px;
}
.foodgrids{
  padding: 8px;
  height: 378px;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,.117647) 0 1px 6px,rgba(0,0,0,.117647) 0 1px 4px;
}
.homegrids{
  align-self: center;
  padding: 8px;
  height: 523px;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,.117647) 0 1px 6px,rgba(0,0,0,.117647) 0 1px 4px;
}

.input-group{
  margin-top: 5%;
}
.input-group input.form-control{
  position: relative;
  /* padding:10%; */
  height: 50px;
  width: 250px;
  padding-left: 18%;
  font-size:16px;
}
.glyphicon-envelope{
  color: #d9ebf3;
}
#basic-addon1{
  display: block;
  position:absolute;
  background: none;
  z-index: 19;
  bottom: 11%;
  font-size:24px;
  border: none;
}
#basic-addon2{
  border: none;
  border-radius: 0;
  width: 100px;
  background: #A0C3CC;
  font-size: 18px;
  /* color: white; */
}
#basic-addon2:hover{
  background: #6495a3;
  color: white;
}
#mozeralla{
  background-image: url("https://fthmb.tqn.com/S3GYVcK3MXLjnmZEHuy1Ui7e9aI=/600x400/filters:no_upscale()/friedmozarella2-5a99717e6bf0690036181ba0.png");
  background-size: cover;
  height: 200px;
  max-height: 350px ;
  width: 100%;
}
#curtains{
  background-image: url("https://fthmb.tqn.com/sP2KDI4OP53n9v4a8562czh73JA=/600x400/filters:no_upscale()/6-5a7de98fae9ab80036cc574d-5a9971c70e23d900372910f5.jpeg");
  background-size: cover;
  height: 200px;
  max-height: 350px ;
  width: 100%
}
